h1{
    font-family: "Trebuchet MS", Helvetica;
    font-style: oblique;
    text-align: center;

} 
body{
    background-color: #D8ECFC;
}

canvas{
    vertical-align: top;
    margin-left: 31%;
    }

p{
    display:inline-block;
    text-align: left;
    margin-left: 22%;
    width:800px;

} 

#footnote{
    margin-top: 50px;
    font-size: 13px;
}
.image img{
    border:1px solid;
    margin-left: 35%;
    border-radius: 5%;
    margin-top: -20px;
}

#myslider{
    color: "black";
    margin-left: 70%;
    margin-top: 50px;
    margin-bottom: -30px;
    color: "red";
}
